$primary-color: #a71d31;
$primary-color-transparent: rgba(167, 29, 49, 0.7);
$secondary-color: #fde74c;
$tertiary-color: #1ea896;

.main-view {
  padding: 5px;
}

.container {
  margin-bottom: 50px;
}